<h1 class="card-title mt-2 ml-2 py-3">My recipes</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search recipes"
        aria-label="Search recipes"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">🔍</button>
      </div>
    </div>
  </li>
  <a [routerLink]="'recipes'">
    <li class="list-group-item">📖 Browse recipes</li>
  </a>
  <a routerLink="/create-recipe"><li class="list-group-item">➕ Add recipe</li></a>
  <a href="#"><li class="list-group-item">🥕 Browse ingredients</li></a>
</ul>
