<h1 class="card-title mt-2 ml-2 py-3">My recipes</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search recipes"
        aria-label="Search recipes"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary material-symbols-outlined"
          type="button"
        >
          search
        </button>
      </div>
    </div>
  </li>
  <a href="/browse-recipes">
    <li class="list-group-item">
      <span class="material-symbols-outlined align-middle"> menu_book </span>
      <span class="align-middle"> Browse recipes</span>
    </li>
  </a>
  <a routerLink="/create-recipe">
    <li class="list-group-item">
      <span class="material-symbols-outlined align-middle"> add_circle </span>
      <span class="align-middle"> Add recipe</span>
    </li></a
  >
  <a href="#"
    ><li class="list-group-item">
      <span class="material-symbols-outlined align-middle"> set_meal </span>
      <span class="align-middle"> Browse ingredients</span>
    </li></a
  >
</ul>
