<p class="display-4 m-2 py-3">Browse recipes</p>
<div class="card my-3" *ngFor="let recipe of recipes">
  <div class="card-header h5">
    {{ recipe.name }}
    <p class="small text-muted mb-0 mt-1">{{ recipe.category }}</p>
  </div>
  <div class="card-body row">
    <div *ngIf="recipe.image; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <img
        class="col-3"
        src="{{
          'data:' + recipe.image?.type + ';base64,' + recipe.image?.data.data
        }}"
        alt="{{ recipe.image?.name }}"
      />
    </ng-template>
    <ng-template #elseBlock>
      <img
        class="col-3"
        src="https://via.placeholder.com/150"
        alt="{{ recipe.name }}"
      />
    </ng-template>

    <div class="col-9">
      <h6 class="card-title">{{ recipe.description }}</h6>
      <p class="card-text">
        Ingredients:<br />
        <small
          *ngFor="let ing of recipe.ingredients | slice : 0 : 3; let i = index"
        >
          {{ ing.name }},&nbsp;{{ ing.quantity }}&nbsp;{{
            ing.unitOfMeasure.unit
          }}
          <span *ngIf="recipe.ingredients.length > 3 && i == 2">...</span>
          <br />
        </small>
      </p>
      <a href="#" class="btn btn-primary">View recipe</a>
    </div>
  </div>
</div>
